.App {
  text-align: center;
  background-color: darkgrey;
}

.pic {
  width: 36%
}

.controls {
  width: 100%;
  height: auto
}

.display {
  font-family: monospace;
  color: black;
}

.audios {
  width: 100%;
  height: auto
}

.control {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin: 3px
}

.control:hover {
  background-color: lightgrey
}
