.App {
  text-align: center;
}

.cover {
  width: 100%;
  height: auto
}

.pic {
  width: 100%;
  height: auto
}

.controls {
  width: 100%;
  height: auto
}

.audios {
  width: 100%;
  height: auto
}
